root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# CMakeList
[CMakeList.txt]
indent_style = space
indent_size = 2

# C/C++ source code
[*.{c,h,cpp,hpp}]
indent_style = space
indent_size = 4
